* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    
  
    
  }

  header {
      
      min-height: 80px;
  }

  .logo {
      max-width: 150px;
  }

  @media (min-width:60rem) {
      .logo {
          max-width: 200px;
      }
  }

  h1 {
      text-align: center;
  }


  /* home picture */

  .homepic {
      background-image: url(/Images/homepic.jpg);
      height: 70vh;
      background-size: cover;
  }


  .button {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 4px;
    border-style: solid;
    padding: 0.5em 1.75em;
    color: white;
    background: #2D96ED;
  }


.button:hover,
.button:focus {
  background: white;
  color: #2D96ED;
}


.container {
    position: relative;
    top: 85%;
}


  















  /* Top nav bar */

  nav {

    display: none;
 
  }

  nav ul {
      padding: 0px 10px;
      text-align: center;
  }

  nav li {
      display: inline-block; 
      text-decoration: none;
      font-size: 0.8em;

  }

  nav a {
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 10px;
      display: inline-block;

      
  }

  #hamburger-menu {
      display: none;
  }

  #hamburger-menu:checked ~ nav {
      display: block;
  }

  i.fas.fa-bars {
      float: right;
      color: black;
      padding: 20px;
      font-size: 1.5em;
      display: block;
  }

  nav a:hover{
      color: black;
      background-color: white;
     
  }

  @media (min-width: 60rem) {
      nav {
          all: unset;
          font-size: 1.3em;
          
      }

      i.fas.fa-bars{
          display: none;
      }

      nav ul {
          padding-bottom: 30px;
      }
      
  }

  
@media (min-width: 43rem) {
    nav li {
        font-size: 1em;
    }
    nav a {
        padding:  15px;
    }
}

@media (min-width: 60rem) {
    nav li {
        font-size: 1.2em;
    }
}


  



  /* quick links */

  .quicklinkdiv {
    
    margin: 0;
    padding: 10px;
  }

  .quicklink {
      text-decoration: none;
      display: inline-block;
      font-size: 2em;
      margin: 1rem;
      margin-bottom: 0;
     
      
      
  }

  .quicklinkul {
      text-align: center;
     
      
      
  }

  i.far.fa-clock {
      background-color: #2D96ED;
      color: white;
      padding: 10px;
      border-radius: 50px;
      
      
  }

  i.fas.fa-landmark {
    background-color: #DB66ED;
    color: white;
    padding: 10px;
    border-radius: 50px;

  }

  i.fas.fa-info {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;

  }

  .quicklinktextli {
      display: inline-block;
      margin: 1em;
  }

  .quicklinktext {
      text-align: center;
      margin-top: 0;
      font-size: 0.8em;
  }

  .quicklinktext a {
      text-decoration: none;
      color: black;
  }

  .quicklinkdiv {
      text-align: center;
      
  }

  .quicklink:hover {
      
  }

  @media (min-width: 43rem) {
      .quicklink {
          font-size: 2.5em;
          margin: 1.5rem;
      }
      i.fas.fa-info {
          padding: 10px 25px;
      }

      .quicklinktext {
          font-size: 1.2em;
      }
  }

  @media (min-width: 60rem) {

    i.fas.fa-info {
        padding: 10px 25px;
    }

  }




  /* Main home links */ 

  .mainhomelink {
      text-decoration: none;
      color: black;
  }

  .mainhomelink:hover {
      color: #2D96ED;
  }



  /* pictures */

  .pictures {
      text-align: center;
      margin-top: 3em;
      padding-top: 10px;
      max-width: 500px;
      
      
  }

  .text {
      text-align: center;
      margin-bottom: 2em;
  }

  h2 {
      text-align: center;
  }

 





  .linka {

    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: 400;
    
  }

  .linka:hover {
      color: #2D96ED;
      
  }


  @media (min-width: 43rem) {
  .picsection {
      border: 5px solid blue;
      width: 50%;
      text-align: center;
      border: none;
      
  }

  .parent {
      display: flex;
  }



      .text {
          display: inline-block;
         padding: 1.5em;
          text-align: center;
          font-size: 1.3em;
      }

      .mainhomelink {
          text-align: center;
          
      }

      .imagesize {
        max-width: 100%;
        height: 200px;

      }

      .visitpic {
          max-width: 100%;
          width: 400px;
          height: 250px;
          object-fit: cover;
          
      }

      .visitsec {
          position: relative;
          left: 25%;
      }

      .visitmap {
          
          position: relative;
          width: 700px ;
          height: 300px;
          

      }

      .explore3 {
          width: 300px;
          height: 300px;
      }

      .visitp {
          padding: 10px;
          font-size: 1.5rem;
      }

      h1 {
          margin: 5rem;
      }

     


         
      


  }

  @media (min-width: 60rem) {
      .visitmap {
          left: 20%;
          width: 800px;
      }
  }




  /* Social icons */

  .socialli {
      display: inline-block;
      font-size: 1.5em;
      margin: 20px;
      color: white;
      


  }

  .socialul {
      text-align: center;  
    
    }


    /* footer */

    footer {
        background-color: black;
    }

    .qlul a {
        text-decoration: none;
        color: white;
        font-weight: 700;
        
    }

    .qlli {
        
        list-style: none;
        padding: 10px;
    }

    .qlul {
        text-align: center;

    }

    .qlli a:hover {
        text-decoration: none;
       
        
        display: inline-block;
        text-decoration: underline;
        
  
        
    }

    @media (min-width:43rem) {
       .footercontent {
        border-right: 5px solid blue;
        width: 50%;
        border: none;
        
        }

       .Parentf {
           display: flex;
       }

       .socialmenu {
           display: inline;
           
          
       }

       .socialicons {
           position: relative;
           top: 25%;
       }



  


    }

   /* visit us*/
    /* text box */  

.home-about-textbox {
    background-color: white;
    padding: 2em;
    width: 100%vw;
    margin-left: 0%;
    outline: 2px solid #5D2ABF;
    outline-offset: -2.5em;
    color: black;
    position: relative;
  }
  
  .home-about-textbox h2 {
    color: #5D2ABF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0em;
    background: white;
    padding: 0 0.25em;
    text-align: center;
  }


  table {
    width: 300px;
    padding: 10px;
  }

  .locationtable {
      text-align: left;
  }

  .visitp {
      text-align: center;
  }

  @media (min-width: 43rem) {
          table {
              width: 650px;
              margin-left: 50px;
          }

          .home-about-textbox {
              width: 80%vw;
          }

        
     
  }

  @media (min-width: 60rem) {

   table td {
       font-size: 1.5em;
   }
   table {
       width: 900px;
   }

   .visitpic {
       display: none;
   }

   .visitmap1 {
       background-image: url(/Images/visitpic2.jpg);
       height: 50vh;
   }
  }

  @media (min-width: 65rem) {
      table {
          width: 1000px;
      }
  }

  @media (min-width: 75rem) {
    table {
        width: 1250px;
    }

 
}





  /* contact us */

  table td {
      padding: 20px;
  }


  .contactli {
    list-style: none;
    margin: 20px;
    
    
    
}

.contactul {
    background-color: white;
    padding: 20px;
}


.contact-column-li {
  list-style: none;
  margin: 20px;
  display: block;
  position: relative;
  
  
}

.contact-column-ul a{
    color: white;
    

}

.contact-column-ul {
    background-color: black;
}

.contactbutton {
    color: white;
    border-color: #5D2ABF;
    background-color: #5D2ABF;
    font-size: 1rem;
    border-width: 4px;
    padding: 0.2em 1em;

}

.contactbutton:hover {
    color: #5D2ABF;
}



.contactform {
    
}

.contactli {
    
}


 

      


